[package]
name = "nimue-poseidon"
version = "0.1.0"
edition = "2021"
license = "MIT/Apache-2.0"

[dependencies]
nimue = { path = "../nimue", features = ["ark"]}
ark-ff = "^0.4.2"
zeroize = "1.8.1"
ark-bls12-381 = "^0.4.0"

[dev-dependencies]
ark-bls12-381 = "^0.4.0"